extends layout

block content
    | you'v logged in
    hr
    = ' ' + JSON.stringify(user)
    hr
    form.all.form-horizontal
        h1 Get All wishes
            small GET /api/users/:userId/wishes
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") User ID
                .col-lg-10
                    input.form-control#all_user_id(placeholder="User ID", type="text", value=user.id)
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_offset") Offset
                .col-lg-10
                    input.form-control#all_offset(type="text", placeholder="Offset")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_len") Length
                .col-lg-10
                    input.form-control#all_len(type="text", placeholder="Length")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type="submit") Get All
    hr
    form.create.form-horizontal
        h1 Create new wish
            small POST /api/users/:userId/wishes
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") User ID
                .col-lg-10
                    input.form-control#create_user_id(placeholder="User Id", type="text", value=user.id)
        br
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") Title
                .col-lg-10
                    input.form-control#create_title(placeholder="Title", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") ISBN
                .col-lg-10
                    input.form-control#create_isbn(placeholder="isbn", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") Price Min
                .col-lg-10
                    input.form-control#create_price_min(placeholder="Price Min", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") Price Max
                .col-lg-10
                    input.form-control#create_price_max(placeholder="Price Max", type="text")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type="submit") Create
    hr
    form.get.form-horizontal
        h1 Get Wish info
            small GET /api/users/:userId/wishes/:wishId
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") User ID
                .col-lg-10
                    input.form-control#get_user_id(placeholder="user_id", type="text", value=user.id)
        .form-group
            .form-group
                label.col-lg-2.control-label(for="all_user_id") Wish ID
                .col-lg-10
                    input.form-control#get_wish_id(placeholder="Wish Id", type="text")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type="submit") Get Info
    hr
    form.update.form-horizontal
        h1 Update Wish Info
            small PUT /api/users/:userId/wishes/:wishId
        .form-group
            .form-group
                label.col-lg-2.control-label(for="update_user_id") User ID
                .col-lg-10
                    input.form-control#update_user_id(placeholder="User Id", type="text", value=user.id)
        .form-group
            .form-group
                label.col-lg-2.control-label(for="update_wish_id") Wish ID
                .col-lg-10
                    input.form-control#update_wish_id(placeholder="Wish Id", type="text")
        br
        .form-group
            .form-group
                label.col-lg-2.control-label(for="update_title") Title
                .col-lg-10
                    input.form-control#update_title(placeholder="Title", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="update_isbn") ISBN
                .col-lg-10
                    input.form-control#update_isbn(placeholder="isbn", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="update_price_min") Price Min
                .col-lg-10
                    input.form-control#update_price_min(placeholder="Price Min", type="text")
        .form-group
            .form-group
                label.col-lg-2.control-label(for="update_price_max") Price Max
                .col-lg-10
                    input.form-control#update_price_max(placeholder="Price Max", type="text")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type="submit") Update
    hr
    form.delete.form-horizontal
        h1 Delete Wish info
            small DELETE /api/users/:userId/wishes/:wishId
        .form-group
            .form-group
                label.col-lg-2.control-label(for="delete_user_id") User ID
                .col-lg-10
                    input.form-control#delete_user_id(placeholder="user_id", type="text", value=user.id)
        .form-group
            .form-group
                label.col-lg-2.control-label(for="delete_wish_id") Wish ID
                .col-lg-10
                    input.form-control#delete_wish_id(placeholder="Wish Id", type="text")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type="submit") Delete

    script.
        $("form.all").on("submit", function(){
            var frm = {};
            if ($("#all_offset").val().length != 0) {
                frm.offset = $("#all_offset").val();
            }
            if ($("#all_len").val().length != 0) {
                frm.len = $("#all_len").val();
            }
            $.ajax("/api/users/"+$("#all_user_id").val()+"/wishes",
                {dataType: 'json', data: frm, type : 'GET'}
            );
            return false;
        });
        $("form.create").on("submit", function(){
            var frm = {
                title: $("#create_title").val(),
                isbn: $("#create_isbn").val(),
                price_min: $("#create_price_min").val(),
                price_max: $("#create_price_max").val()
            };
            $.ajax("/api/users/"+$("#create_user_id").val()+"/wishes",
                {dataType: 'json', data: frm, type : 'POST'}
            );
            return false;
        });
        $("form.get").on("submit", function(){
            $.ajax("/api/users/"+$("#get_user_id").val()+"/wishes/"+$("#get_wish_id").val(),
                {dataType: 'json', data: {}, type : 'GET'}
            );
            return false;
        });
        $("form.update").on("submit", function(){
            var frm = {
                title: $("#update_title").val(),
                isbn: $("#update_isbn").val(),
                price_min: $("#update_price_min").val(),
                price_max: $("#update_price_max").val()
            };
            $.ajax("/api/users/"+$("#update_user_id").val()+"/wishes/"+$("#update_wish_id").val(),
                {dataType: 'json', data: frm, type : 'PUT'}
            );
            return false;
        });
        $("form.delete").on("submit", function(){
            $.ajax("/api/users/"+$("#delete_user_id").val()+"/wishes/"+$("#delete_wish_id").val(),
                {dataType: 'json', data: {}, type : 'DELETE'}
            );
            return false;
        });